<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
        $(function(){
            $("#btnRtn").click(
                function(){
                    location.href="/";
                })
            $("#btnsrc").click(
                function(){
                    location.href="/account/findres/"+$("#ID").val();
                })
        });
    </script>
</head>
<body>
    <h1><%= title %></h1>

    <form action="/account/info" method="get">
        <table border="1">
            <tr>
                <th>NUM</th>
                <th width="50">구분</th>
                <th width="100">ID</th>
                <th width="100">이름</th>
                <th width="200">PHONE NUMBER</th>
            </tr>
            <%
                for(var i=(page-1) * page_num; (i<rows.length) && (i<page*page_num); i++){
                    var item = rows[i];
            %>
            <tr>
                <td><%=i+1%></td>
                <td><%=item.AUTH%></td>
                <td><a href="/account/info/<%=item.ID%>"><%=item.ID%></a></td>
                <td><%=item.NAME%></td>
                <td><%=item.PHONE%></td>
            </tr>
            <%
                }
            %>
            <tr>
                <td colspan="5">
                    <center>
                        ID : <input type="text" id="ID" name="ID">
                        <input type="button" id="btnsrc" name="search" value="검색">
                    </center>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <center>
                        <% for(var j=0; j<(rows.length -1) / page_num; j++){ %>
                        [<a href="/account/userlist/<%=j+1%>"><%=j+1%></a>]
                        <% } %>
                    </center>
                </td>
            </tr>
        </table>
        <input type="button" id="btnRtn" name="return" value="돌아가기">
    </form>
</body>
</html>

