<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <br>
        <br>
        <table border="1">
            <tr>
                <td>주문 메뉴</td>
                <td>구매 고객</td>
                <td>판매자</td>
                <td>가격</td>
                <td>판매 날짜</td>
                
            </tr>
<%
                var tmp;
                var arr = new Array(rows.length);

                <!-- sorting part -->
                for(var i=0; i<rows.length; i++){
                    arr[i] = rows[i];
                }

                for(var i=0; i<rows.length; i++){
                    for (var t=1; t<rows.length; t++){
                        if (arr[t-1].date > arr[t].date){
                            tmp = arr[t];
                            arr[t] = arr[t-1];
                            arr[t-1] = tmp;
                        }

                    }
                }

                var cnt=0;
                var cache = arr[0].date;
                <!-- counting part -->
                for(var t=0; t<rows.length; t++){
                    if(arr[t].date == cache){
                        



                    }
                    else{
                        cache = arr[t].date;
                    }




                }


%>

<%

                for(var k=0;k<rows.length;k++){
                
%>

<tr>
    <td><%=arr[k].menu_ID%></td>
    <td><%=arr[k].user_ID%></td>
    <td><%=arr[k].seller_ID%></td>
    <td><%=arr[k].price%></td>
    <td><%=arr[k].date%></td>
</tr>


<%
                }

%>

        </table>
    </body>
</html>