<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
            <table border="1">
                <tr>
                    <td>유저 이름</td>
                    <td>메뉴 이름</td>
                    <td>가격</td>
                    <td>장바구니에서 빼기</td>
                </tr>
                <%
                for(var i=0; i<rows[0].length; i++){
                    var oneItem = rows[0][i];%>
                    <tr>
                        <td><%=oneItem.user_name%></td>
                        <td><%=oneItem.menu_name%></td>
                        <td><%=oneItem.menu_price%></td>
                        <td><a href="/buyer/delete-cart/<%=oneItem.userID%>/<%=oneItem.menuID%>">장바구니에서 빼기</a></td>
                    </tr>
<%        
                }
%>
            </table>
            <br>
            <table border="1">
                <tr>
                    <td>유저 ID</td>
                    <td>유저 이름</td>
                    <td>총 가격</td>
                    <td>구매</td>
                </tr>
                <%
                for(var i=0; i<rows[1].length; i++){
                    var oneItem = rows[1][i];%>
                    <tr>
                        <td><%=oneItem.userID%></td>
                        <td><%=oneItem.user_name%></td>
                        <td><%=oneItem.total_price%></td>
                        <td><a href="/buyer/buy/<%=oneItem.userID%>">구매</a></td>
                    </tr>
<%        
                }
%>
            </table>
            
</html>