<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <br>
        <br>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>메뉴</td>
                <td>가격</td>
                <td>내용</td>
                <td>장바구니 추가</td>
            </tr>
            <%
                for(var i=0; i<rows.length; i++){
                    var oneItem = rows[i];
%>
                    <tr>
                        <td><%=oneItem.ID%></td>
                        <td><%=oneItem.NAME%></td>
                        <td><%=oneItem.PRICE%></td>
                        <td><%=oneItem.CONTENT%></td>
                        <td><a href="/buyer/cart/<%=oneItem.ID%>">추가하기</a></td>
                    </tr>
<%        
                }
%>

        </table>
    </body>
</html>