<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
        $(function(){
            $("#btnmod").click(
                function(){
                    history.back();//Not Yet
                })
            $("#btndel").click(
                function(){
                    location.href="/product_del/<%=rows[0].ID%>";
                })
            $("#btnRtn").click(
                function(){
                    history.back();
                })
        });
    </script>
</head>
<body>
    <h1><%= title %></h1>
        <table border="1">
            <tr>
                <th>NUM</th>
                <th width="150">상품 이름</th>
                <th>가격</th>
                <th>설명</th>
            </tr>
            <%
                for(var i=0; i<rows.length; i++){
                    var item = rows[i];
            %>
            <tr>
                <td><center><%=i+1%></center></td>
                <td><center><%=item.NAME%></center></td>
                <td><center><%=item.PRICE%></center></td>
                <td><center><%=item.content%></center></td>
            </tr>
            <%
                }
            %>
        </table>
        <input type="button" id="btnmod" name="modify" value="상품 수정">
        <input type="button" id="btndel" name="delete" value="상품 삭제">
        <input type="button" id="btnRtn" name="return" value="돌아가기">
</body>
</html>

