<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <title>JOGIYO</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
        $(function(){
            $("#btnmod").click(
                function(){
                    location.href="/product_mod/<%=store_id%>/<%=rows[0].ID%>";
                })
            $("#btndel").click(
                function(){
                    location.href="/product_del/<%=store_id%>/<%=rows[0].ID%>";
                })
            $("#btnRtn").click(
                function(){
                    location.href="/product_list/<%=store_id%>";
                })
        });
    </script>
</head>
<body>
    <h1><%= title %></h1>
        <table border="1">
            <tr>
                <th width="150">상품 이름</th>
                <th>가격</th>
                <th>설명</th>
            </tr>
            <tr>
                <td><center><%=rows[0].NAME%></center></td>
                <td><center><%=rows[0].PRICE%></center></td>
                <td><center><%=rows[0].content%></center></td>
            </tr>
        </table>
        <input type="button" id="btnmod" name="modify" value="상품 수정">
        <input type="button" id="btndel" name="delete" value="상품 삭제">
        <input type="button" id="btnRtn" name="return" value="돌아가기">
</body>
</html>

