<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
        $(function(){
            $("#btnRtn").click(
                function(){
                    location.href="/";
                });
            $("#btnstr").click(
                function(){
                    location.href="/store_add";
                });
        });
    </script>
</head>
<body>
    <h1><%= title %></h1>
        <table border="1">
            <tr>
                <th>NUM</th>
                <th width="100">매장이름</th>
                <th width="150">전화번호</th>
                <th>평점</th>
                <th>평균 배달 시간</th>
                <th>영업 시간</th>
            </tr>
            <%
                for(var i=0; i<rows.length; i++){
                    var item = rows[i];
            %>
            <tr>
                <td><center><%=i+1%></center></td>
                <td><center><a href="/store/<%=item.ID%>"><%=item.NAME%></center></td>
                <td><center><%=item.PHONE%></center></td>
                <td><center><%=item.RATE%></center></td>
                <td><center><%=item.DELIVERY_TIME%>분</center></td>
                <td><center><%=item.UPTIME%> ~ <%=item.CLOSETIME%></center></td>
            </tr>
            <%
                }
            %>
        </table>
        <input type="button" id="btnstr" name="insert" value="매장추가">
        <input type="button" id="btnRtn" name="return" value="돌아가기">
</body>
</html>

