<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
            <table border="1">
                <tr>
                    <td><a href="/store_mod/<%=rows[0].ID%>">가게 정보 수정</a></td>
                </tr>
                <tr>
                    <td><a href="/store_del/<%=rows[0].ID%>">가게 삭제</a></td>
                </tr>
                <tr>
                    <td><a href="/product_list/<%=rows[0].ID%>">상품 조회</a></td>
                </tr>
                <tr>
                    <td><a href="/store/order">주문 현황</a></td>
                </tr>
                <tr>
                    <td><a href="/store/sold">판매 내역 확인</a></td>
                </tr>
                <tr>
                    <td><a href="/store/analytics">매출 정보</a></td>
                </tr>
                <tr>
                    <td><a href="/seller">돌아가기</a></td>
                </tr>


            </table>
        
    </body>
</html>